{% extends 'base.html' %}
{% load static %}

<!-- Custom css -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
    <section aria-labelledby="weddings-portfolio-heading">
        <h2 id="weddings-portfolio-heading" class="sr-only">Weddings portfolio heading</h2>

        <!-- Album heading and quote-->

        <div id="collection-album">
            <div class="row no-gutters">
                <div class="col">
                    <div class="row no-gutters">
                        <div class="col">
                            <h2 id="collection-album-header">Casamentos</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Image links to the photos-->

    <section aria-labelledby="weddings-portfolio">
        <h2 id="weddings-portfolio" class="sr-only">Weddings portfolio</h2>
        <figure>
            <div class="row no-gutters portfolio-albums">
                <div id="fabiane-flaviano" class="col-md-5 col-lg-4">
                    <div class="hovereffect">
                        <a href="assets/photo-pages/wedding/fabiane&flaviano.html"
                            aria-label="Go to Fabiane and Flaviano wedding album">
                            <img class="img-responsive"
                                src="assets/images/albums/wedding/fabiane-flaviano/SEQUENCIA-58.jpg"
                                alt="Fabiane and Flaviano wedding album">
                            <div class="overlay" aria-labelledby="fabiane-flaviano_photos">
                                <h2 id="fabiane-flaviano_photos">Fabiane + Flaviano</h2>
                                <p>
                                    Um casamento cheio de emoções
                                </p>
                                <p>
                                    19/09/2020
                                </p>
                                <p>
                                    <span><i class="fas fa-map-marker-alt"></i></span> Paróquia São Pedro Apóstolo,
                                    Itaboraí
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div id="marcelly-mauro" class="col-md-5 col-lg-4">
                    <div class="hovereffect">
                        <a href="assets/photo-pages/wedding/marcelly&mauro.html"
                            aria-label="Go to Marcelly and Mauro wedding album">
                            <img class="img-responsive"
                                src="assets/images/albums/wedding/marcelly-mauro/SEQUENCIA-77.jpg"
                                alt="Marcelly and Mauro wedding album">
                            <div class="overlay" aria-labelledby="marcelly-mauro_photos">
                                <h2 id="marcelly-mauro_photos">Marcelly + Mauro</h2>
                                <p>
                                    Uma Cerimônia cheia de amor, em um lugar lindo e Romântico
                                </p>
                                <p>
                                    16/10/2020
                                </p>
                                <p>
                                    <span><i class="fas fa-map-marker-alt"></i></span> Resturante Dimattoni,
                                    Itaboraí-RJ
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </figure>
    </section>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}
