{% extends 'base.html' %}
{% load static %}

<!-- Custom css -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'portfolio/css/collections.css' %}">
{% endblock %}

{% block content %}
    <!-- 2.2.Album heading and quote-->
    <section class="">
        <div id="collection-album">
            <div class="row no-gutters">
                <div class="col">
                    <div class="row no-gutters">
                        <div class="col">
                            <h2 id="collection-album-header">{{ catg.friendly_name }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section aria-labelledby="portfolio">
        <h2 id="portfolio" class="sr-only">Albums</h2>
        <figure>
            <div class="row no-gutters portfolio-albums">
                {% for album in albums %}
                    <div class="col-md-5 col-lg-4">
                        <div class="hovereffect">
                            <a href="{% url 'album' album.id %}"
                                aria-label="Go to {{ album.title }} album">
                                <img src="{{ MEDIA_URL }}{{ album.cover }}"
                                    alt="{{ album.title }} album">
                                <div class="overlay" aria-labelledby="{{ album.title }}_photos">
                                    <h2 id="{{ album.title }}_photos">{{ album.title }}</h2>
                                    <p>
                                        {{ album.pre_desc }}
                                    </p>
                                    {% if catg.name == 'wedding' %}
                                        <p>
                                            {{ album.date|date:"d / m / Y" }}
                                        </p>
                                    {% endif %}
                                    <p>
                                        <span><i class="fas fa-map-marker-alt"></i></span> {{ album.place }}
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
        </figure>
    </section>

    <!-- <section class="form" aria-labelledby="weddings-portfolio-heading">
        <div class="row">
            <div class="col-6">
                <form action="{% url 'portfolio' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}

                    <button>SUBMIT</button>
                </form>
            </div>
        </div>
    </section> -->
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'portfolio/js/collections.js' %}"></script>
{% endblock %}
