{% extends 'base.html' %}
{% load static %}

<!-- Custom css -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'portfolio/css/edit_album.css' %}">
{% endblock %}

{% block content %}

    <section class="form" aria-labelledby="weddings-portfolio-heading">

        <div class="row no-gutters pageTitle text-center">
            <div class="col-12">
                <h2>Editar Álbum</h2>
            </div>
        </div>

        <div class="row no-gutters mt-3">
            <div class="col-8 mx-auto">
                <form id="create-album-form" action="{% url 'edit_album' current_album.pk %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        <div class="fields_container p-3 mb-3">

                            <div class="field_wrapper p-3 mb-3">
                                {{ form.category | as_crispy_field }}
                                {{ form.title | as_crispy_field }}
                                {{ form.pre_desc | as_crispy_field }}
                                {{ form.date | as_crispy_field }}
                                {{ form.place | as_crispy_field }}

                                <div class="row no-gutters">
                                    <label for="current_cover">Foto de Capa Atual</label>
                                    <div  id="current_cover" class="col-12 previewImages mx-auto">
                                        <img class="form_img" src="{{ MEDIA_URL }}{{ current_album.cover }}" >
                                    </div>
                                </div>
                                {{ form.cover | as_crispy_field }}
                                {{ form.description | as_crispy_field }}

                                <div class="row no-gutters">
                                    <label for="current_photos">Fotos Atuais</label>

                                    <div  id="current_photos" class="col-12 previewImages mx-auto text-center">
                                        <div class="row no-gutters">
                                            {% for photo in current_photos %}
                                                <div class="col-3">
                                                    <img class="form_photos photoCollapsible editFormPhoto test_{{ photo.pk }}" src="{{ MEDIA_URL }}{{ photo.photos }}">
                                                    <div class="content">
                                                        <div>
                                                            <a id="changeBtn_{{ photo.pk }}" class="changeBtn" data-photo="{{ MEDIA_URL }}{{ photo.photos }}" data-url="{% url 'change_photo' photo.pk photo.album.id %}">Mudar Foto <i class="fas fa-exchange-alt"></i></a>
                                                        </div>
                                                        <div>
                                                            <a href="">Deletar Foto <i class="fas fa-trash-alt"></i></a>
                                                        </div>
                                                    </div>
                                                </div>

                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>
                                {{ form.photos | as_crispy_field }}
                            </div>

                        </div>

                        <div class="text-center">
                            <button class="btn btn-shadow btn-mn">Adicionar Álbum</button>
                        </div>

                    </fieldset>

                </form>

                <!-- The Modal -->
                <div id="changePhotoModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Você gostaria de substitutir essa foto?</p>
                    <div id="changePhotoPrev"></div>
                    {% include 'portfolio/includes/change_photo_form.html' %}
                    </div>
                
                </div>

            </div>
        </div>
    </section>

    <!-- Loading screen -->
    <section aria-labelledby="overlay">
        <h2 class="sr-only" id="overlay">Loading Overlay</h2>
        <div id="loading-overlay">
            <h1 class="text-light logo-font loading-spinner">
                <span class="icon">
                    <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                </span>
            </h1>
        </div>
    </section>
    
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'portfolio/js/edit_album.js' %}"></script>
{% endblock %}
