{% extends 'base.html' %}
{% load static %}

<!-- Custom css -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/index_form.css' %}">
{% endblock %}

{% block content %}
    <main>
        <section>
            <div class="row no-gutters pageTitle text-center">
                <div class="col-12">
                    <h2>Edição da página principal</h2>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-8 mx-auto">
                    <form id="edit-index-form" class="my-5" action="{% url 'edit_index' content_id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <fieldset>
                            <div class="fields_container p-3 mb-3">
                                <h3 class="text-center font-weight-bold">Fotos do slide</h3>

                                <div class="field_wrapper p-3 mb-3">
                                    <label for="id_carousell_photo_1">Primeira foto do slide</label>
                                    <div class="text-center mb-2">
                                        <img class="form_img" src="{{ MEDIA_URL }}{{ current_content.carousell_photo_1 }}" alt="First slide image">
                                    </div>
                                    {{ form.carousell_photo_1 | as_crispy_field }}
                                </div>
                                
                                <div class="field_wrapper p-3 mb-3">
                                    <label for="id_carousell_photo_2">Segunda foto do slide</label>
                                    <div class="text-center mb-2">
                                        <img class="form_img" src="{{ MEDIA_URL }}{{ current_content.carousell_photo_2 }}" alt="First slide image">
                                    </div>
                                    {{ form.carousell_photo_2 | as_crispy_field }}
                                </div>
                                
                                <div class="field_wrapper p-3 mb-3">
                                    <label for="id_carousell_photo_3">Terceira foto do slide</label>
                                    <div class="text-center mb-2">
                                        <img class="form_img" src="{{ MEDIA_URL }}{{ current_content.carousell_photo_3 }}" alt="First slide image">
                                    </div>
                                    {{ form.carousell_photo_3 | as_crispy_field }}
                                </div>
                            </div>
                            
                            <div class="fields_container p-3 mb-3">
                                <h3 class="text-center font-weight-bold">Conteúdo do meio da página</h3>
                                
                                <div class="field_wrapper p-3 mb-3">
                                    {{ form.middle_text | as_crispy_field }}
                                </div>
                                
                                <div class="field_wrapper p-3 mb-3">
                                    <label for="id_middle_picture">Foto do fotógrafo</label>
                                    <div class="text-center mb-2">
                                        <img class="form_img" src="{{ MEDIA_URL }}{{ current_content.middle_picture }}" alt="First slide image">
                                    </div>
                                    {{ form.middle_picture | as_crispy_field }}
                                </div>
                            </div>
                            
                            <div class="fields_container p-3 mb-3">
                                <h3 class="text-center font-weight-bold">Fotos para os links dos albuns</h3>
                                
                                <div class="field_wrapper p-3 mb-3">
                                    <label for="id_prew_picture">Foto para o link da coleção de pre-weddings</label>
                                    <div class="text-center mb-2">
                                        <img class="form_img" src="{{ MEDIA_URL }}{{ current_content.prew_picture }}" alt="First slide image">
                                    </div>
                                    {{ form.prew_picture | as_crispy_field }}
                                </div>
                                
                                <div class="field_wrapper p-3 mb-3">
                                    <label for="id_w_picture">Foto para o link da coleção de casamentos</label>
                                    <div class="text-center mb-2">
                                        <img class="form_img" src="{{ MEDIA_URL }}{{ current_content.w_picture }}" alt="First slide image">
                                    </div>
                                    {{ form.w_picture | as_crispy_field }}
                                </div>
                                
                                <div class="field_wrapper p-3 mb-3">
                                    <label for="id_fam_picture">Foto para o link da coleção de fotos de família</label>
                                    <div class="text-center mb-2">
                                        <img class="form_img" src="{{ MEDIA_URL }}{{ current_content.fam_picture }}" alt="First slide image">
                                    </div>
                                    {{ form.fam_picture | as_crispy_field }}
                                </div>
                            </div>
                            
                            <div class="fields_container p-3 mb-3">
                                <h3 class="text-center font-weight-bold">Conteúdo dos testemunhos</h3>
                                
                                <div class="field_wrapper p-3 mb-3">
                                    <label for="id_first_testimonial_pic">Foto do primeiro testemunho</label>
                                    <div class="text-center mb-2">
                                        <img class="form_img" src="{{ MEDIA_URL }}{{ current_content.first_testimonial_pic }}" alt="First slide image">
                                    </div>
                                    {{ form.first_testimonial_pic | as_crispy_field }}

                                    {{ form.first_testimonial_text | as_crispy_field }}

                                    {{ form.first_testimonial_partner1 | as_crispy_field }}

                                    {{ form.first_testimonial_partner2 | as_crispy_field }}
                                </div>
                                
                                <div class="field_wrapper p-3 mb-3">
                                    <label for="id_second_testimonial_pic">Foto do segundo testemunho</label>
                                    <div class="text-center mb-2">
                                        <img class="form_img" src="{{ MEDIA_URL }}{{ current_content.second_testimonial_pic }}" alt="First slide image">
                                    </div>
                                    {{ form.second_testimonial_pic | as_crispy_field }}

                                    {{ form.second_testimonial_text | as_crispy_field }}

                                    {{ form.second_testimonial_partner1 | as_crispy_field }}

                                    {{ form.second_testimonial_partner2 | as_crispy_field }}
                                </div>
                                
                                <div class="field_wrapper p-3 mb-3">
                                    <label for="id_third_testimonial_pic">Foto do terceiro testemunho</label>
                                    <div class="text-center mb-2">
                                        <img class="form_img" src="{{ MEDIA_URL }}{{ current_content.third_testimonial_pic }}" alt="First slide image">
                                    </div>
                                    {{ form.third_testimonial_pic | as_crispy_field }}

                                    {{ form.third_testimonial_text | as_crispy_field }}

                                    {{ form.third_testimonial_partner1 | as_crispy_field }}

                                    {{ form.third_testimonial_partner2 | as_crispy_field }}
                                </div>

                            </div>

                            <div class="text-center">
                                <button class="btn btn-shadow btn-mn">Atualizar Conteúdo</button>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </section>

        <!-- Loading screen -->
        <section aria-labelledby="overlay">
            <h2 class="sr-only" id="overlay">Loading Overlay</h2>
            <div id="loading-overlay">
                <h1 class="text-light logo-font loading-spinner">
                    <span class="icon">
                        <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                    </span>
                </h1>
            </div>
        </section>
    </main>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'home/js/index_form.js' %}"></script>
{% endblock %}
