
/* ----------------------------------Hero carousel*/

#carouselHeroSlidesOnly img {
    height: 100vh;
}

/* ----------------------------------middle content*/

.md-content-img {
    height: 400px;
    filter: drop-shadow(3px 6px 9px #636161);
}

#first-md-content-img {
    margin: 30px 0 0 25px;
}

#text-md-content {
    width: 100%;
    height: 100%;
    margin: 130px 0 0 280px;
    padding-left: 5px;
    border-left: 3px solid #ff5b00;
    border-radius: 5%;
    color: #111111;
    background-color: #dfe6e9;
    overflow: auto;
}

#bride-association-link {
    width: 60%;
    margin: -150px 0 0 550px;
    filter: drop-shadow(3px 6px 9px #636161);
}

.profile_photo_mdContent {
    margin: 25rem 0 0 2rem;
}

.profile_photo_mdContent h1 {
    margin-bottom: 5px;
    text-align: center;
    color: #111111;
    font-size: medium;
}

#profile_photo_homePg {
    width: 400px;
    height: 400px;
    border: 1px solid #ff5b00;
    border-radius: 100%;
    filter: drop-shadow(3px 6px 9px #636161);
}

#marco_quote {
    height: 100%;
    padding-top: 20px;
    margin: 80px 0 0 50px;
    border-left: 3px solid #ff5b00;
    border-right: 3px solid #ff5b00;
    border-radius: 5%;
    text-align: center;
    background-color: #dfe6e9;
}

#marco_quote p {
    color: #111111;
}

#bride-association-link:hover {
    filter: drop-shadow(1px 3px 15px #ff5b00);
}

/* ----------------------------------Home Page Portfolio Links*/

.portfolio-links {
    margin-top: 80px;
    border-top: 1px solid #ff5b00;
    border-bottom: 1px solid #ff5b00;
}

.portfolio-links a {
    text-decoration: none;
}

.portfolio-photo-links {
    position: relative;
    text-align: center;
    color: #f7f2f2;
}

.portfolio-photo-links img {
    width: 100%;
    height: 500px;
}

.top-left {
    position: absolute;
    top: 20px;
    left: 30px;
    font-weight: 900;
    font-size: 30px;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 30px;
    font-weight: 900;
    font-size: 30px;
}

.top-center {
    position: absolute;
    top: 4%;
    left: 70%;
    font-weight: 900;
    font-size: 30px;
}

.portfolio-photo-links:hover {
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.portfolio-link-outer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* ----------------------------------Testimonials*/

#testimonials-section {
    margin-top: 25px;
}

#testimonials-section h2 {
    padding-bottom: 25px;
}

.testimonial-photos img {
    width: 70%;
    height: 400px;
    border: 1px solid #f7f2f2;
    filter: drop-shadow(3px 6px 9px #636161);
}

.testimonials {
    background-color: #ffffff;
    width: 70%;
    height: 350px;
    margin: auto;
    border: 1px solid #f7f2f2;
    filter: drop-shadow(3px 6px 9px #636161);
}

.testimonials span {
    display: inline-block;
    text-align: center;
    margin: 50px 25px 0 25px;
    color: #111111;
}

.signature {
    font-family: "Arizonia", sans-serif;
    font-weight: bold;
    font-size: 30px;
}
  
/* ----------------------------------Carousel Testimonials*/

#carousel-testimonials-section {
    margin-top: 25px;
}

#carousel-testimonials-section h2 {
    margin: 0 0 15px 25px;
}

.carousel-photos {
    height: 100vh;
    border-top: 1px solid #ff5b00;
    border-bottom: 1px solid #ff5b00;
}

.carousel-caption h3 {
    font-family: "Arizonia", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #ff5b00;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
}

.carousel-caption p {
    color: #ff5b00;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
}
  
/* ----------------------------------Instagram section */

.eapps-instagram-feed-title {
    font-family: "Montserrat", sans-serif;
}

@media (min-width: 320px) and (max-width: 767px) {}
