
/* ----------------------------------Hero carousel*/

#carouselHeroSlidesOnly img {
    height: 100vh;
}

/* ----------------------------------middle content*/

.awarded_photo img {
    max-width:90%;
    max-height:100%;
}

.awarded-text p {
    color: #ff5b00;
    font-weight: 700;
    font-size: 1.5em;
}

.logo_bride img {
    height: 20vh;
}

.logo_bride img:hover {
    filter: drop-shadow(1px 3px 15px #ff5b00);
}

.middle-text p {
    width: 90%;
    margin-top: 10rem;
    font-size: 1.5em;
}

#rio-photo {
    font-size: .9em;
}

.avatar_photo img {
    width:400px;
    height:400px;
    border-radius: 100%;
}

/* ---------------------------------------------------------------------------- */

#text-md-content {
    width: 100%;
    height: 100%;
    margin: 130px 0 0 280px;
    padding-left: 5px;
    border-left: 3px solid #ff5b00;
    border-radius: 5%;
    color: #111111;
    background-color: #dfe6e9;
    overflow: auto;
}

#bride-association-link {
    width: 60%;
    margin: -150px 0 0 600px;
    filter: drop-shadow(3px 6px 9px #636161);
}

.profile_photo_mdContent {
    margin: 25rem 0 0 2rem;
}

.profile_photo_mdContent h1 {
    margin-bottom: 5px;
    text-align: center;
    color: #111111;
    font-size: medium;
}

#profile_photo_homePg {
    width: 400px;
    height: 400px;
    border: 1px solid #ff5b00;
    border-radius: 100%;
    filter: drop-shadow(3px 6px 9px #636161);
}

#marco_quote {
    height: 100%;
    padding-top: 20px;
    margin: 5rem 0 0 50px;
    border-left: 3px solid #ff5b00;
    border-right: 3px solid #ff5b00;
    border-radius: 5%;
    text-align: center;
    background-color: #dfe6e9;
}

#marco_quote p {
    color: #111111;
}

#bride-association-link:hover {
    filter: drop-shadow(1px 3px 15px #ff5b00);
}

/* ----------------------------------Home Page Portfolio Links*/

.portfolio-links {
    margin-top: 80px;
    border-top: 1px solid #ff5b00;
    border-bottom: 1px solid #ff5b00;
}

.portfolio-links a {
    text-decoration: none;
}

.portfolio-photo-links {
    position: relative;
    text-align: center;
    color: #f7f2f2;
}

.portfolio-photo-links img {
    width: 100%;
    height: 500px;
}

.top-left {
    position: absolute;
    top: 20px;
    left: 30px;
    font-weight: 900;
    font-size: 30px;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 30px;
    font-weight: 900;
    font-size: 30px;
}

.top-center {
    position: absolute;
    top: 4%;
    left: 70%;
    font-weight: 900;
    font-size: 30px;
}

.portfolio-photo-links:hover {
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.portfolio-link-outer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* ----------------------------------Testimonials*/

#testimonials-section {
    margin-top: 25px;
}

#testimonials-section h2 {
    padding-bottom: 25px;
}

.testimonial-photos img {
    width: 70%;
    height: 400px;
    border: 1px solid #f7f2f2;
    filter: drop-shadow(3px 6px 9px #636161);
}

.testimonials {
    background-color: #ffffff;
    width: 70%;
    height: 350px;
    margin: auto;
    border: 1px solid #f7f2f2;
    filter: drop-shadow(3px 6px 9px #636161);
}

.testimonials span {
    display: inline-block;
    text-align: center;
    margin: 50px 25px 0 25px;
    color: #111111;
}

.signature {
    font-family: "Arizonia", sans-serif;
    font-weight: bold;
    font-size: 30px;
}
  
/* ----------------------------------Carousel Testimonials*/

#carousel-testimonials-section {
    margin-top: 25px;
}

#carousel-testimonials-section h2 {
    margin: 0 0 15px 25px;
}

.carousel-photos {
    height: 100vh;
    border-top: 1px solid #ff5b00;
    border-bottom: 1px solid #ff5b00;
}

.carousel-caption h3 {
    font-family: "Arizonia", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #ff5b00;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
}

.carousel-caption p {
    color: #ff5b00;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
}
  
/* ----------------------------------Instagram section */

.instaRow {
    justify-content: center;
    align-items: center;
}

.instaImg {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 600;
}

.instaImg:hover {
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    opacity: 0.3;
}

.instaImgContainer {
    position: relative;
    overflow: hidden;
    height: 14em;
    cursor: pointer;
}

.instaImgContainer:hover .image {
    opacity: 0.3;
}

.instaImgContainer:hover .middle {
    opacity: 1;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff5b00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff5b00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.instaLink:hover {
    text-decoration: none;
    font-weight: 600;

}

.modal-body {
    overflow-x: hidden;
    overflow-y: auto;
}

.instPhotoContainer {
    overflow: hidden;
}

.instPhotoContainer img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
}

.like-comment-count {
    font-weight: 600;
}

.instaUserName {
    font-size: small;
}

/* ----------------------------------Media Queries */

@media (max-width: 1440px) {
    #carouselHeroSlidesOnly img {
        height: 80vh;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    #carouselHeroSlidesOnly img {
        height: 90vh;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    #carouselHeroSlidesOnly img {
        height: 80vh;
    }
    .awarded-text p {
        font-size: 1.3em;
    }
    .logo_bride img {
        height: 8vh;
    }
    .middle-text p {
        margin-top: 6rem;
    }
    .testimonials {
        height: 450px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #carouselHeroSlidesOnly img {
        height: 70vh;
    }
    .awarded-text p {
        font-size: 1.2em;
    }
    .avatar_photo img {
        width:300px;
        height:300px;
        border-radius: 100%;
    }
    .middle-text p {
        width: 90%;
        margin-top: 5rem;
        font-size: 1.2em;
    }
    #carousel-testimonials-section h2 {
        font-size: 1.5em;
        margin: 1rem 0;
    }
    .portfolio_dropdown {
        background-color: #ff5b00;
        margin: 1rem 0;
    }
    .portfolio_dropdown .hiden {
        display: none;
    }
    .portfolio-items {
        background-color: #ffffff;
        display: none;
    }
    .portfolio-items .hiden {
        display: none;
    }
    .portfolio-items ul {
        list-style-type: none;
    }
    .portfolio-items a {
        font-size: 1.5em;
        font-weight: 600;
        color: #000;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    #carouselHeroSlidesOnly img {
        height: 50vh;
    }
    .awarded-text p {
        font-size: 1.1em;
    }
    .avatar_photo img {
        width:300px;
        height:300px;
        border-radius: 100%;
    }
    .middle-text p {
        width: 90%;
        font-size: 1em;
        margin-left: 1rem !important;
        margin-top: 1rem;
        margin-bottom: 3rem;
        text-align: center !important;
    }
    #carousel-testimonials-section h2 {
        font-size: 1.5em;
        margin: 1rem 0;
    }
    .portfolio_dropdown {
        background-color: #ff5b00;
        margin: 1rem 0;
    }
    .portfolio_dropdown .hiden {
        display: none;
    }
    .portfolio-items {
        background-color: #ffffff;
        display: none;
    }
    .portfolio-items .hiden {
        display: none;
    }
    .portfolio-items ul {
        list-style-type: none;
    }
    .portfolio-items a {
        font-size: 1.5em;
        font-weight: 600;
        color: #000;
    }
}
