{% extends 'base.html' %}
{% load static %}

<!-- Custom css -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bio/css/bio.css' %}">
{% endblock %}

{% block content %}
<section aria-labelledby="tittleHero-bio">
    <h2 id="tittleHero-bio" class="sr-only">tittle and Hero of bio page</h2>

    <!-- 2.1.Page Title -->

    <div id="bio-header">
      <div class="row no-gutters">
        <div class="col" aria-labelledby="title-bio">
          <h2 id="title-bio">{{ content.title }}</h2>
        </div>
      </div>

      <hr />

      <!-- 2.2.Hero image -->

      <div class="row no-gutters">
        <div class="col hero-bio">
          <figure>
            <img
              class="img-centered"
              src="{{ MEDIA_URL }}{{ content.cover_picture }}"
              alt="Marco Neves family"
            />
          </figure>
        </div>
      </div>

      <hr />
    </div>
  </section>

  <!-- 3.Bio Page middle content section: Includes an article. Grid system from Bootstrap 4-->

  <section>
    <h2 class="sr-only">Middle content</h2>
    <div id="bio-middle-content">
      <div class="row no-gutters">
        <div class="col">
          <article>
            <h2 class="sr-only">Middle content text</h2>
            <div id="introducing">
              <p>
                {{ content.first_text }}
              </p>
            </div>
          </article>
        </div>
      </div>
      <hr />
    </div>
  </section>

  <!-- 4.End Page middle content section: Includes an quote and a profile photo. Grid system from Bootstrap 4-->

  <section aria-labelledby="end-content">
    <h2 id="end-content" class="sr-only">End content of bio page</h2>
    <div id="bio-end-content">
      <div class="row no-gutters">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <!-- 4.1.Quote -->

          <article>
            <h2 class="sr-only">Quote text</h2>
            <div id="bio-quote">
              <p>
                {{ content.second_text }}
              </p>
            </div>
          </article>
        </div>

        <!-- 4.2.Profile Photo -->

        <div class="col-lg-6 col-md-12 col-sm-12">
          <figure>
            <img
              class="img-centered"
              id="bio-profile-photo"
              src="{{ MEDIA_URL }}{{ content.second_photo }}"
              alt="Marco Neves Profile photo"
            />
          </figure>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'portfolio/js/collections.js' %}"></script>
{% endblock %}
