@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.content-wrapper {
    min-height: calc(100vh - 150px);
    overflow: hidden;
    background-color: transparent;
}

.content-alignment {
    display: flex;
    justify-content: center;
    align-content: center;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ededed;
}

h2 {
  font-weight: 800;
}

hr {
  width: 30%;
  height: 2px;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #ff5b00;
}

.col {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.img-centered {
  object-fit: cover;
  object-position: center;
}

/* ----------------------------------Navbar */

.navbar {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 20;
    border-bottom: 1px solid #ff5b00;
}
  
.logo {
    height: 70px;
    margin-left: 10px;
}
  
nav {
    background-color: #ededed;
}
  
nav .nav-height {
    height: 40px;
}
  
nav ul {
    width: 115%;
    list-style-type:none;
}

.navbar-nav .nav-link {
    padding-left: 10px;
}

nav ul .nav-link {
    font-weight: 600;
    height: max-content;
    background-color: #ededed;
    letter-spacing: 2px;
}

nav button {
    margin: 5px 35px 5px 0;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    font-weight: 800;
    color: #ff5b00;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #ff5b00;
}

nav ul .nav-link:hover {
    font-weight: bold;
    color: #ff5b00 !important;
}

nav .dropdown-item:hover {
    background-color: #ff5b00;
    color: #000;
    font-weight: bold;
}

.navbar-lg-sc {
    display: flex;
}

.navbar-lg-sc ul .nav-link {
    padding: 20px;
}

.navbar-lg-sc ul {
    margin: auto 0;
}

.navbar-lg-sc li a {
    height: 79px;
}

.navbar-lg-sc .dropdown-item {
    height: 40px;
}

/* ---------------------------------- Footer */

footer {
    background-color: #ff5b00;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer .col-lg-2 h3 {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 1.5rem;
    color: #fff;
}

footer .col-lg-2 a {
    text-decoration: none;
    color: #fff;
}

footer .col-lg-2 a:hover {
    font-weight: 800;
    text-decoration: underline;
}

.social-link {
    font-size: 5em;
    margin-top: 1rem;
}

.social-link i {
    text-decoration: none;
    color: #fff;
    margin: 0 2rem;
}

.social-link i:hover {
    font-size: 1.1em;
}

.social-link a:hover {
    text-decoration: none;
}

.copyright {
    color: #fff;
}

/* ----------------------------------Media queries*/

@media (min-width: 1440px) {
    .mobile-nav, .mobile-nav > * {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .mobile-nav, .mobile-nav > * {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    nav button {
        margin: 5px 35px 5px 0;
    }

    .mobile-nav {
        background-color: #fc8241;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 9999;
    }

    .display-mobile-nav {
        display: none !important;
    }

    .mobile-nav .hiden {
        display: none;
    }

    .mobile-nav > .menu {
        text-align: center;
        font-size: 2em;
    }

    .mobile-nav > .menu h1,
    .mobile-nav > .menu .mobile-cart-menu {
        color: #fff !important;
        font-weight: 600;
        font-size: 1;
    }

    .mobile-nav > .close p {
        margin: .5rem;
    }

    nav ul {
        list-style-type:none;
        padding: 0;
    }

    nav ul .nav-link {
        font-size: 2em;
        font-weight: 600;
        height: 10vh;
        background-color: transparent;
        letter-spacing: 0;
        color: #fff;
        margin: 2rem 0;
    }

    .sub-nav {
        display: none;
    }

    .sub-nav a {
        font-size: 1em !important;
        font-weight: 600;
        color: #ef5500;
        padding: 1.5rem 0 !important;
    }

    .sub-nav li {
        background-color: #fff;
    }

    .social-link {
        font-size: 3em;
    }

    footer .col-12 {
        padding-left: 4rem;
    }
    
    footer .col-12 h3 {
        font-weight: 700;
        font-size: 1.5em;
        margin-top: 1.5rem;
        color: #fff;
    }
    
    footer .col-12 a {
        text-decoration: none;
        color: #fff;
    }

    footer li a {
        font-size: 1.2em;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .logo-img {
        height: 6vh;
    }

    .logo-font {
        text-transform: uppercase;
        font-size: .7em;
        font-weight: bold;
    }

    .main-logo-link {
        text-align: left;
    }

    .mobile-nav {
        background-color: #fc8241;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 9999;
    }

    .display-mobile-nav {
        display: none !important;
    }

    .mobile-nav .hiden {
        display: none;
    }

    .mobile-nav > .menu {
        text-align: center;
        font-size: 2em;
    }

    .mobile-nav > .menu h1,
    .mobile-nav > .menu .mobile-cart-menu {
        color: #fff !important;
        font-weight: 600;
        font-size: 1;
    }

    .mobile-nav > .close p {
        margin: .5rem;
    }

    nav ul {
        list-style-type:none;
        padding: 0;
    }

    nav ul .nav-link {
        font-weight: 600;
        height: 10vh;
        background-color: transparent;
        letter-spacing: 0;
        color: #fff;
    }

    .sub-nav {
        display: none;
    }

    .sub-nav a {
        font-size: 0.6em !important;
        font-weight: 600;
        color: #ef5500;
    }

    .sub-nav li {
        background-color: #fff;
    }

    .social-link {
        font-size: 3em;
    }

    footer .col-12 {
        padding-left: 4rem;
    }
    
    footer .col-12 h3 {
        font-weight: 700;
        font-size: 1.5em;
        margin-top: 1.5rem;
        color: #fff;
    }
    
    footer .col-12 a {
        text-decoration: none;
        color: #fff;
    }

    footer li a {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        height: 60px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 375px) {
    nav button {
        margin: 5px 10px 5px 0;
    }
}

@media screen and (max-width: 320px) {
}

/* ----------------------------------Media queries min */

@media screen and (min-width: 1440px) {
}