<!-- Navbar for medium and small screens -->
<nav class="navbar d-lg-none">

    <!-- Logo -->
    <div class="col-6 pt-2 text-left">
        <a class="navbar-brand" href="{% url 'home' %}" aria-label="Logo, Go to Home Page">
            <img class="logo" src="{{ MEDIA_URL }}images/base/logo-no-background.png" alt="Marco Neves Photography Logo">
        </a>
    </div>

    <!-- Menu Button -->

    <div id ="expand-menu-icon" class="col-6 pt-2 text-right text-red">
        <i class="fas fa-bars fa-lg mr-3"></i>
    </div>



    <!-- Mobile menu -->
    <div class="row no-gutters mobile-nav display-mobile-nav">

        <div class="col-12 close text-right close-menu">
            <p>X</p>
        </div>

        <div class="col-12 menu content-alignment text-center">

            <ul>

                <li>
                    <a class="nav-link" href="{% url 'home' %}" aria-label="Go to home page">Início<span class="sr-only">(Página
                        atual)</span></a>
                </li>

                <li>
                    <a id="portfolio-dropdown" class="nav-link" href="#" aria-label="Go to portfolio page">Portfólio <i class="fas fa-caret-down"></i> <i class="fas fa-caret-up hiden"></i> </a>
                    <div class="row no-gutters sub-nav">
                        <div class="col-12 text-center content-alignment">
                            <ul>
                                <li><a href="">Casamentos</a></li>
                                <li><a href="">Pre-Weddings</a></li>
                                <li><a href="">Fotos de família</a></li>
                            </ul>
                        </div>
                    </div>

                </li>

                <li>
                    <a class="nav-link" href="" aria-label="Go to biography page">Bio</a>
                </li>

                <li>
                    <a class="nav-link" href="" aria-label="Go to contact page">Contato</a>
                </li>

            </ul>
        </div>
    </div>

</nav>