<!-- Navbar for medium and small screens -->
<nav class="navbar navbar-expand-lg navbar-light no-gutters d-lg-none">
    <div class="row no-gutters">

        <!-- Logo -->
        <div class="col-6 pt-2 text-left">
            <a class="navbar-brand" href="{% url 'home' %}" aria-label="Logo, Go to Home Page">
                <img class="logo" src="{{ MEDIA_URL }}images/base/logo-no-background.png" alt="Marco Neves Photography Logo">
            </a>
        </div>

        <!-- Menu Button -->

        <div id ="expand-menu-icon" class="col-6 pt-2 text-right text-red">
            <i class="fas fa-bars fa-lg mr-3"></i>
        </div>

    </div>

    <!-- Mobile menu -->
    <div class="row no-gutters mobile-nav display-mobile-nav">

        <div class="col-12 close text-right close-menu">
            <p>X</p>
        </div>

        <div class="col-12 menu">

            <ul>

                <li>
                    <a class="nav-link" href="{% url 'home' %}" aria-label="Go to home page">Início <span class="sr-only">(Página
                        atual)</span></a>
                </li>

                <li>
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown-lg-sc" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        aria-label="Dropdown menu which opens the wedding page link, pre-wedding page link and family photo page link">
                        Portfólio
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown-lg-sc">
                        <a class="dropdown-item" href=""
                            aria-label="Go to weddings portfolio">Casamentos</a>
                        <a class="dropdown-item" href=""
                            aria-label="Go to pre-weddings portfolio">Pre-Weddings</a>
                        <a class="dropdown-item" href="" aria-label="Go to family photo portfolio">Fotos
                            de família</a>
                    </div>
                </li>

                <li>
                    <a class="nav-link" href="" aria-label="Go to biography page">Bio</a>
                </li>

                <li>
                    <a class="nav-link" href="" aria-label="Go to contact page">Contato</a>
                </li>

            </ul>
        </div>
    </div>

</nav>