.breadcrumb-container {
    margin-top: 5rem;
}

.couple-name h2 {
    text-align: center;
    font-family: "Arizonia", sans-serif;
    font-size: 50px;
}

.couple-name p {
    text-align: center;
    margin: 0 20px;
}

.img-centered {
    object-fit: cover;
    object-position: center;
}

#gallery .col-8 img {
    height: 100%;
}
  
#gallery .col-12 img {
    height: 100%;
    overflow: hidden;
}

.photo_group img {
    border: 1px solid #fff;
}

.album_photo {
    cursor: pointer;
}

.album_photo:hover {
    opacity: .7;
    transform: scale(.980);
    overflow: hidden;
}

.modal {
    margin: 0 8rem;
}

.modal-header {
    border-bottom: 1px solid #ff5b00;
    padding: 0;
}

.modal-content {
    width: 200%;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
    border-radius: 0;
    position: relative;
    right: 360px;
}