.form {
    margin: 8rem 0;
}

label {
    font-weight: 600;
    font-size: 1.1em;
}

.pageTitle {
    margin-top: 8rem;
}

.form_img {
    height: 50vh;
}

.form_photos {
    width: 95%;
    height: 25vh;
}

.fields_container {
    background-color: #ff5b00;
    border-radius: 3%;
}

.field_wrapper {
    background-color: #ff7a33;
    border-radius: 3%;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 122, 51, 1);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

textarea {
    resize: none;
}

.previewImages {
    position: relative;
    background-color: #ededed;
    height: 100%;
    margin: 1rem 1rem;
    overflow: hidden;
}

.previewImages img {
    margin: 0.5rem 0.5rem 0.2rem 0.5rem;
}

.previewImages a {
    text-decoration: none;
}

.form_photos:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(0.25px, 0.25px) rotate(0deg); }
    10% { transform: translate(-0.25px, -0.5px) rotate(-1deg); }
    20% { transform: translate(-1px, 0px) rotate(1deg); }
    30% { transform: translate(1px, 0.5px) rotate(0deg); }
    40% { transform: translate(0.25px, -0.25px) rotate(1deg); }
    50% { transform: translate(-0.25px, 0.5px) rotate(-1deg); }
    60% { transform: translate(-1px, 0.25px) rotate(0deg); }
    70% { transform: translate(1px, 0.25px) rotate(-1deg); }
    80% { transform: translate(-0.25px, -0.25px) rotate(1deg); }
    90% { transform: translate(0.25px, 0.5px) rotate(0deg); }
    100% { transform: translate(0.25px, -0.5px) rotate(-1deg); }
}

.photoCollapsible {
    cursor: pointer;

}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ff7a33;
    margin: 0 1rem 0.1rem 1rem;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    position: absolute;
    z-index: 9999;
}

/* The Modal (background) */
.changeModal, .deleteModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.changeModal-content, .deleteModal-content,
.modalBody, .modalFooter {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
}

.modalBody, .modalFooter {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}