<div class="row no-gutters d-lg-none">
    <div class="col-12 text-center portfolio_dropdown text-center">
        <h3 class="font-weight-bold">Portifólio <i class="fas fa-caret-down"></i> <i class="fas fa-caret-up hiden"></i></h3>
    </div>
    <div class="col-12 content-alignment portfolio-items text-center hiden">
        <ul>
            <li class="mt-2">
                <a href="">Casamentos</a>
            </li>
            <li class="mt-2">
                <a href="">Pre-Weddings</a>
            </li>
            <li class="mt-2">
                <a href="">Fotos de Família</a>
            </li>
        </ul>
    </div>
</div>